@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model HarryPotter.Pages.Results.CharacterResultsModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
}


@foreach (var c in Model.houseCharacters)
{
    <p>
        @c.CharacterName;
    </p>
    <p>
        @c.BloodStatus;
    </p>
    <p>
        @c.House;
    </p>
}