@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model HarryPotter.Pages.Results.SearchedSpellsModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

}

<body style="background-color:black; color:ghostwhite;">

<section>
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var spell in Model.spellType)
        {

            <div class="col mb-4">
                <div class="card h-100">
                    <!--Card image-->
                    @*<div class="view overlay">
                            <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
                                 alt="Card image cap">
                            <a href="#!">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>*@

                    <!--Card content-->
                    <div class="card-body elegant-color white-text bg-dark rounded-bottom">

                        <!--Title-->
                        <h4 class="card-title">@spell.SpellName</h4>
                        <hr class="hr-light" />
                        <h2 class="card-text white-text mb-2">@spell.Type</h2>
                        <!--Text-->
                        <p class="card-text white-text mb-4">
                            @spell.Effect
                        </p>
                        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                        <!--<button type="button" class="btn btn-light-blue btn-md">Read more</button>-->

                    </div>

                </div>
            </div>
        }
    </div>
</section>

</body>