@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model HarryPotter.Pages.Results.SearchedSpellsModel
@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/StyleSheet.css" />

}


<section>
    <div>
        @foreach (var spell in Model.spellType)
        {

            <div id="spellBlock">
                <p>Spell Name: @spell.SpellName</p>
                <p>Spell Type: @spell.Type</p>
                <p>Effect: @spell.Effect</p>
                <br />
            </div>
        }
    </div>
</section>
