@{
    ViewData["Title"] = "Privacy Policy";
}
<body style="background-color:black; color:ghostwhite;">

    <h1>@ViewData["Title"]</h1>

    <p>While this application does not collect or use any of your personal data, it does consume an external API that provides data. This application has been architected in a manner that promotes security out of a sense of caution and a feeling of responsibility.The following measures have been taken in the creation of this application.</p>

    <ul>
        <li>
            Prevention of cross-site scripting
        </li>
        <li>
            Use of root directory that prevents access to unauthorized users
        </li>

    </ul>

</body>
