@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model HarryPotter.Pages.IndexModel

@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
}

<div class="text-center">
    <h1 class="display-4">Hogwarts School of <br />
    Witchcraft and Wizardry</h1>
    <img src="https://i.imgur.com/GNtAFrh.jpeg" />
</div>
<br />
<p>Contgratulations on your acceptance into Hogwarts School of Witchcraft and Wizardry! Our fine institution of magic welcomes you! In order to have everything ready to go when you arrive, please allow the Sorting Hat below to assign you to a house. Then feel free to learn more about that house or any other below. </p>
<br />
<br />
<br />
<div>
    <section>
        <div class="text-center">
            <h2 >Sorting Hat</h2>
            <br />
            <img src="https://i.imgur.com/o0HDcDc.png" width="150" />
            <br />
            <br />
        </div>
        <div>
        <p>Welcome to Hogwarts! All students are sorted into one of four Houses upon arrival at Hogwarts. </p>
        </div>
    </section>
</div>

<div>
    <form method="post">
    <!-- Button trigger modal -->
    <button type="submit" class="btn btn-light" data-toggle="modal" data-target="#basicExampleModal">
        Sort me into a House
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" rounded-bottom tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true" .text-primary>
        <div class="modal-dialog" role="document" bg-dark>
            <div class="modal-content" bg-dark>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Congratulations! You have been sorted into </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>House name: </p>
                    <p>@Model.House</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    </form>
</div>

<br />
<br />
<br />
<section>
    <div>
        <h3>Learn More About Each House at Hogwarts</h3>
        <form method="post" asp-page="/Results/HouseInfo">
        <label for="house">Select a House: </label>
        <select name="house" id="house">

            <option value="Gryffindor">Gryffindor</option>
            <option value="Hufflepuff">Hufflepuff</option>
            <option value="Ravenclaw">Ravenclaw</option>
            <option value="Slytherin">Slytherin</option>
        </select>
        <button type="submit">Submit</button>
        </form>
    </div>
</section>
<br />
<br />
<br />

<section>
    <div>
        <h3>Spells</h3>
        <p>There are many powerful spells you will learn during your education at Hogwarts. Click below to see a list of what you may learn.</p>
        
        <form method="post" asp-page="/Results/SpellsResults">
            <div>
                <button type="submit">Hogwarts Spells</button>
            </div>
        </form>
    </div>
</section>
