@page
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model HarryPotter.Pages.IndexModel

@{
    Layout = "_Layout";
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
}

<div class="text-center">
    <h1 class="display-4">
        Hogwarts School of <br />
        Witchcraft and Wizardry
    </h1>
    <img src="https://i.imgur.com/GNtAFrh.jpeg" />
</div>
<br />
<p>Congratulations on your acceptance into Hogwarts School of Witchcraft and Wizardry! Our fine institution of magic welcomes you! In order to have everything ready to go when you arrive, please allow the Sorting Hat below to assign you to a house. Then feel free to learn more about that house or any other below. </p>
<br />
<br />
<br />
<div>
    <section>
        <div class="text-center">
            <h2>Sorting Hat</h2>
            <br />
            <img src="https://i.imgur.com/o0HDcDc.png" width="150" />
            <br />
            <br />
        </div>
        <div>
            <p>Welcome to Hogwarts! All students are sorted into one of four Houses upon arrival at Hogwarts. </p>
        </div>
    </section>
</div>

<div>
    <form method="post" action="">
        <!-- Button trigger modal -->
        <button type="submit" id="sortResultModal" class="btn btn-light" data-target="#sortingHatModal" data-toggle="modal">
            
            Sort me into a House
        </button>
    </form>

 
 
        <!-- Modal -->
        <div class="modal fade" id="sortingHatModal" rounded-bottom tabindex="-1">
            <div class="modal-dialog" bg-dark>
                <div class="modal-content" bg-dark>
                    <div class="modal-header">
                        <h5 class="modal-title" id="sortingHatModal">Congratulations! You have been sorted into </h5>
                        <button class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <p>House name: </p>
                        <p>@Model.House</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
    @*</form>*@
 
</div>

<br />
<br />
<br />
<section>
    <div>
        <h3>Learn More About Each House at Hogwarts</h3>
        <form method="post" asp-page="/Results/HouseInfo">
            <label for="house">Select a House: </label>
            <select name="house" id="house">

                <option value="Gryffindor">Gryffindor</option>
                <option value="Hufflepuff">Hufflepuff</option>
                <option value="Ravenclaw">Ravenclaw</option>
                <option value="Slytherin">Slytherin</option>
            </select>
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
    </div>
</section>
<br />
<br />
<br />

<section>
    <div>
        <h3>Spells</h3>
        <p>There are many powerful spells you will learn during your education at Hogwarts. Click below to see a list of what you may learn.</p>

        <form method="post" asp-page="/Results/SpellsResults">
            <div>
                <button type="submit" class="btn btn-light">Hogwarts Spells</button>
            </div>
        </form>
    </div>
</section>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sortResultModal').click(function () {
            $('#sortingHatModal').modal('show');
            backdrop: 'static';
            keyboard: false
        });
        
    });
</script>
@*<script type="text/javascript">
    protected void OnSelectedIndexChanged(object sender, EventArgs e)
    {
        ClientScript.RegisterStartupScript(this.GetType(), "sortingHatModal",
            "$('#sortingHatModal').modal('show')", true);
    }

    protected Sub OnSelectedIndexChanged(ByVal sender As Object, ByVal e As EventArgs)
    ClientScript.RegisterStartupScript(Me.GetType(), "sortingHatModal",
        "$('#sortingHatModal').modal('show')", true)
    End Sub
</script>*@